body {
    background-color: black;
}
div {
    border: 5px solid grey;
    width:50%;
    margin-left: 25%
}
img {
    width: 100%;
}
h1 {
    color: hotpink;
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: limegreen;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
a {
    color: lightgrey;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    text-transform: uppercase;
}

#rocks {
    font-size: 2rem;
}
